[Unit]
Description=Fail2Ban Telegram Notifier
After=network.target fail2ban.service

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/tele_fail2_notify.py
WorkingDirectory=/usr/local/bin
Restart=always
User=root
StandardOutput=append:/var/log/tele_fail2_notify.log
StandardError=append:/var/log/tele_fail2_notify.log

[Install]
WantedBy=multi-user.target
